html, body{
    margin:0 !important;
    padding:0 !important;
}
body{
    box-sizing: border-box !important;
    
}

.navbar{
    display: flex !important;
    background-color:#356790 !important;
    color: white;
    
}
.navbar-brand{
    color:white;
    font-size: 25px !important;
   
}
.navbar-brand:hover{
    color:white;
}

.nav-links ul li{
    color: white;
    list-style: none;
    display: inline-block;
    
}
.nav-links a{
    text-decoration:none;
    font-size: 20px;
    margin-right: 130px;
    color:white;  
}
.nav-links a:hover{
    color: white;
}
.side_links{
    list-style: none;
    background-color: #0c548f;
    float:left;
    
    width: 10%;
    height: 943px!important;
   
   


}

.home{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.home-welcome{
    text-align: center;
    color: #356790;
    margin-top: 250px;

    
}
.d-flex{
    margin-right: 20px;
}

.Add_post_content{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 500px;
   
    margin-top: 100px;   
}



.blog_content{
    text-align: center;
    font-size: 20px;
    color:#0c548f;
    width:20%;
    margin-left: auto;
    margin-right: auto;
}
.blog_content h1{
    margin-bottom: 50px;
}
.click{
    text-decoration: none;
    color:#0c548f;
}
.click:hover{
    color:#0c548f;
}
.edit_content{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 500px;
   
    margin-top: 100px;
}
.form-it-enquire .btn{
    background-color: #0c548f;
    color:white;
}
.form-it-enquire .btn:hover{
    background-color: #0c548f;
    color:white;
}
.shadow a{
    display: inline-block;
}
.shadow .btn{
    background-color: #0c548f;
    color:white;
    margin-right: 5px;
}
.shadow .btn:hover{
    background-color: #0c548f;
    color:white;
}
.btn-2{
    text-decoration: none !important;
    outline: none !important;
    
}